body{
  position: relative;
  width: 100%;
  height: 100%;
  /*justify-content: center;
  align-items: center;*/
}

#content {
  overflow: hidden;
  padding: 10px;
  width: 100%;
}

#icon {
  margin: auto;
  width: auto;
  max-height: 500px;
}

#report {
  position: absolute;
  top: -250px;
  font-size: 20px;
  font-weight: 300;
  font-family: 'lato', sans-serif;
  text-align: center;
  margin: auto;
}
